@font-face {
    font-family: SunAntwerpen;
    src: url("SunAntwerpen_500.woff") format("woff");
}

@font-face {
    font-family: Antwerpen-regular;
    src: url("Antwerpen-Regular.woff") format("woff");
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    background-color: lightgrey;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: SunAntwerpen, Verdana, sans-serif;
}

.title-font {
    font-family: Antwerpen-regular;
    font-size: 1.5em;
}

hr {
    border-color: lightgrey;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
}

.middle {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

@keyframes highlight {
    0% {
        background: #3498db
    }
    100% {
        background: none;
    }
}

.width-transition {
    transition: width 0.8s;
}

#div-project {
    cursor: pointer;
}

#div-project:hover {
    color: #DA291C;
}

.highlight_class {
    animation: highlight 3s;
}

#projectbody {}

.nav_bar_margin_top {
    margin-top: -25px;
}

.margin_top_form_question {
    margin-top: 50px;
}

.invalid {
    border: red solid 1px;
}

.delete {
    color: #0078d7;
}

.fa-times {
    transform: scale(2);
    color: #DA291C;
    opacity: 0.7;
}

.fa-times:hover {
    opacity: 1;
}

.fa-times:active {
    transform: scale(1.7);
}

.error-message {
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
    color: white;
    background-color: #DA291C;
    display: inline-block;
    width: 100%;
}

#error-messages {
    text-align: left;
}

@media(max-width:767px) {
    #map-mobile {
        margin-left: 15px;
        width: calc(100% - 20px);
    }
}

.no-padding {
    padding: 0px;
}

.inline {
    display: inline;
}

#foto-delete {
    position: absolute;
    right: 15px;
    top: 10px;
}

[contenteditable]:focus {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


/*
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
*/

#projectContainer {
    position: fixed;
    width: inherit;
    top: 76px;
    bottom: 0;
    padding: 58px 0px 50px 0px;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    #editContainer {
        position: absolute;
        right: 178px;
        width: calc(100% - 356px);
        padding-top: 60px;
    }
}

#editContainer {
    padding-top: 60px;
}

#map-container-editpage {
    min-height: 300px;
}

#locatie div div.row {
    padding-right: 15px;
}

#locatie div div div div a {
    text-decoration: none;
}

#edit_project {
    padding: 0px 15px;
}

#edit_header {
    text-align: center;
    background-color: #DA291C;
    color: #fff;
    height: 70px;
    padding-top: 25px;
}

.edit_header_icon_back {
    position: absolute;
    left: 3%;
    top: 90px;
    color: white;
}

.edit-white-box {
    background-color: white;
    overflow: auto;
    margin: 15px 0px;
    padding: 15px;
    min-height: 115px;
}

#location-form {
    height: 35px;
}

#locations {
    border: 1px dashed;
    padding: 10px;
    margin: 10px 0px;
}

#locations div {
    padding-right: 25px;
}

a.map_delete {
    float: right;
}

#edit_header {
    margin-bottom: 15px;
}

#beschrijving div.edit-white-box,
#locatie div.edit-white-box {
    min-height: 405px;
}

#edit-title h4 small,
#edit-beschrijving h4 small,
#edit-vraag h5 small,
#fase-full div h5 small {
    opacity: 0.5;
}

.datum {
    padding-left: 0px;
}

.datumleft {
    width: 25%;
    display: inline-block;
}

.datumright {
    width: 74%;
    display: inline-block;
}

#edit-back a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    position: absolute;
    left: 15px;
    padding-top: 10px;
}

#edit-back a:hover {
    opacity: 1;
}

.panel-heading {
    background-color: #f5f5f5;
}

#homeContainer {
    top: 0%;
    position: absolute;
    right: 0%;
    height: 100%;
    background-color: white;
}

.navbar-default {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: -1px 1px 5px #888888;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

#editable {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    z-index: 999;
    top: 74px;
    background-color: #DA291C;
    height: 60px;
    color: white;
    padding: 10px;
}

.fa-plus {
    color: white;
}

#home-titel {
    position: fixed;
    width: inherit;
    text-align: center;
    margin: 0 auto;
    z-index: 999;
    top: 75px;
    background-color: #DA291C;
    height: 60px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

#home-titel-content {
    color: white;
    position: relative;
    font-size: 1.8em;
    margin: 0 auto;
    top: 30%;
}

#project-titel {
    position: fixed;
    margin: 0 auto;
    z-index: 999;
    top: 75px;
    background-color: #DA291C;
    min-height: 60px;
    padding-top: 15px;
}

#location-btn.fa-plus {
    color: #DA291C;
}

#project-fase {
    position: absolute;
    margin: 0 auto;
    top: 135px;
    background-color: white;
    padding: 0px;
    display: table;
    overflow: auto;
    width: 50px;
    
}


/*
#project-fase:hover {
    left: -349px;
    transition: left 1s;
    
}
*/

#project-fase p {
    margin: 0px;
    color: black;
}

.arrow-box-right {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 49px;
    min-height: 200px;
    width: 300px;
    height: 100%;
}

.open-fase{
    left: -348px;
    transition: left 1s;
}

.closed-fase{
    left: -50px;
    transition: left 1s;
}

.arrow-box {
    position: relative;
    background: #DA291C;
    display: table-row;
    padding: 6px;
    padding-left: 36px;
    color: black;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
}

p.lrg {
    font-size: 1.5em;
}

.arrow-box-cell {
    display: table;
    width: 50px;
    z-index: 2;
}

.arrow-box:hover {
    background: #DA291C;
    color: white;
    opacity: 1;
}

#project-fase .arrow-box:hover p,
#project-fase .arrow-box.closed:hover p {
    color: white;
}



#project-fase .arrow-box.active p {
    color: black;
}

#project-fase .arrow-box.active:hover p {
    color: white;
}

.active {
    background: white;
    opacity: 1;
    border-right: 0px;
}

#project-fase .arrow-box.closed p {
    color: black;
}

.closed {
    background: #E45D53;
    opacity: 1;
}

#project-back {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    opacity: 0.4;
    width: 100px;
}

#project-back-text {
    top: 31%;
    font-size: 0.8em;
}

.div-left {
    width: 60px;
    height: 100%;
}

#project-titel i {
    position: relative;
    top: 32%;
    font-size: 0.8em;
}

#project-titel h1 {
    text-align: center;
    padding: 0px 80px 15px 80px;
}

#project-titel hr {
    margin-top: 29px;
    border-color: black;
}

#project-titel-content {
    color: white;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    top: 30%;
    font-size: 1.6em;
}

.navbar-nav li {
    height: 50px;
    line-height: 50px;
}

.navbar-collapse {
    position: absolute;
    height: 100%;
    right: 10%;
    top: 10%;
}

.panel-body hr {
    margin-bottom: 0px;
}

.panel-body-child {
    background: #3498db;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    color: white;
    padding: 5px 20px;
    word-wrap: break-word;
}

.move-in {
    left: 0%;
    transition: left 1s;
}

.move-out {
    left: 100%;
    transition: left 1s;
}

.fa-users {
    transform: scale(1.5) translateY(-62%);
    color: #DA291C;
}

.fa-download {
    transform: scale(1.7) translateY(-50%);
    color: #DA291C;
}

.fa-user-plus {
    transform: scale(2) translateY(-50%);
    color: #DA291C;
}

.fa-power-off {
    transform: scale(1.8) translateY(-50%);
    color: #DA291C;
}

.fa-sign-in {
    transform: scale(2.4) translateY(-41%);
    color: #DA291C;
}

.navbar-header img {
    height: 100%;
    position: absolute;
    top: 0%;
}

.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav li {
    height: 100%;
    line-height: 50px;
    width: 56px;
    display: inline-block;
}

.navbar-nav li:hover {
    background-color: #DA291C;
}

#nav-right li {
    height: inherit;
    width: 58px;
    display: inline-block;
    overflow: hidden;
}

#nav-right li a {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
}

#nav-right li a i {
    top: 50%;
    position: relative;
}

#nav-right {
    height: 100%;
    list-style-type: none;
}

.panel-body {
    border-bottom: 1px solid lightgrey;
}

#panel-body-text,
.delete_home_page,
.edit_home_page {
    padding: 15px;
}

.navbar-search {
    position: absolute;
    left: 57.2%;
    top: 30%;
}

.navbar-default .navbar-nav>.open>a {
    background-color: white;
}

.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #DA291C;
}

.fa-angle-double-right,
.fa-angle-double-down {
    transform: scale(1.5);
    color: #DA291C;
    right: 10%;
    position: absolute;
}

#accordion a {
    color: #000;
    text-decoration: none;
}

.collapse.navbar-collapse.navbar-ex1-collapse.pull-right {
    position: relative;
    right: 6%;
}

.accordion-toggle:focus {
    outline: none;
}

#accordion a:hover {
    color: #DA291C;
    text-decoration: none;
}

#div-inline {
    display: inline;
}

.modal-dialog {
    width: 400px;
}

#usersModal-dialog {
    min-width: 700px;
}

.odd-users {
    background-color: rgba(52, 152, 219, 0.26);
}

.modal-body {
    margin: 0 auto;
    text-align: center;
}

.modal-body-center {
    display: inline-block;
    text-align: left;
}

#show-project {
    margin-left: 15px;
}

.fa-trash {
    color: #DA291C;
    transform: scale(1.8);
    outline: none;
}

.fa-pencil {
    transform: scale(1.7);
    color: #3498db;
}

#panel-body-icons,
.edit_home_page,
.delete_home_page {
    height: 51px;
}

.edit_home_page:hover {
    background-color: #3498db;
}

.edit_home_page:hover .fa-pencil {
    color: white;
}

.edit_home_page:active .fa-pencil {
    transform: scale(1.4);
}

.delete_home_page:hover {
    background-color: #DA291C;
}

.delete_home_page:hover .fa-trash {
    color: white;
}

.delete_home_page:active .fa-trash {
    transform: scale(1.5);
}

#map {
    display: block;
    width: 100%;
    height: 100%;
}

#thumbs img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
}

#thumbs {
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    height: 150px;
    width: 150px;
    margin: 0px 10px 10px 0px;
}

#edit_foto div.edit-white-box {
    overflow: auto;
    overflow-y: hidden;
}

.edit_foto_add_button {
    display: inline-block;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin: 0px 10px 10px 0px;
    font-size: 2.5em;
    border: 1px dashed #DA291C;
    color: #DA291C;
    text-align: center;
    padding-top: 50px;
}

.edit_foto_add_button:hover {
    border: 1px dashed white;
    color: white;
    background-color: #DA291C;
    cursor: hand;
    cursor: pointer;
}

.edit_foto_add_button:active {
    transform: scale(0.9);
}

.add_fase {
    height: 150px;
    font-size: 2.5em;
    border: 1px dashed #DA291C;
    text-align: center;
    padding-top: 50px;
    color: #DA291C;
}

.add_fase:hover {
    border: 1px dashed white;
    color: white;
    cursor: pointer;
    background-color: #DA291C;
}

.add_fase:active {
    transform: scale(0.9);
}

#fase-img img {
    height: 150px;
    width: 150px;
    border: 1px solid;
}

#fase-img {
    padding-top: 15px;
}

#fase-img-del {
    position: absolute;
    text-decoration: none;
    left: 135px;
    top: 25px;
}

#fase-add-button {
    margin: 0 auto;
}

#fase-full {
    height: 150px;
    margin-bottom: 20px;
    padding: 0px;
}

.vraag_add_button {
    height: 150px;
    font-size: 2.5em;
    border: 1px dashed #DA291C;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #DA291C;
}

.vraag_add_button small {
    font-size: 0.5em;
}

.vraag-btn {
    padding: 35px 0px;
    width: calc(35% - 20px);
}

.vraag-btn:hover {
    background-color: #DA291C;
    border-color: #DA291C;
    cursor: pointer;
    color: white;
}

.table tr td#pointer {
    cursor: pointer;
}

h5.title-font {
    font-size: 1.1em;
}

#edit-vraag,
#edit-fase {
    min-height: 225px;
}

#edit-vraag-content,
#edit-fase-content {
    border: 1px dashed;
    padding: 15px;
    margin-bottom: 10px;
    overflow: auto;
}

#edit-fase-content ul li {
    list-style-type: none;
}

#edit-fase-content div div select {
    width: auto;
}

#edit-vraag-content a {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

#fase-del {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 999;
}

.edit_foto_add_button_small {
    top: -26px;
    position: relative;
    font-size: 0.5em;
}

.edit_foto_add_button_small_maxsize {
    top: -60px;
    position: relative;
    font-size: 0.3em;
    opacity: 0.8;
}

.title_red {
    color: #DA291C;
}

.thumbnail {
    width: inherit;
    height: inherit;
}

#edit-foto-big img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid;
}

.opacity-lower {
    opacity: 0.4;
    transition: opacity 0.8s;
}

.opacity-higher {
    opacity: 1;
    transition: opacity 0.8s;
}

#map-container {
    height: 100%;
    bottom: 0%;
    top: 0%;
    left: 0%;
    position: fixed;
}

.hole_project {
    background-color: lightgrey;
}

#carousel-container {
    margin-top: 20px;
    height: 500px;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 48px;
    margin-top: 0px;
}

@media(min-width:1400px) {
    #carousel-container {
        height: 800px;
    }
}

@media(min-width:992px) {
    .project-wat {
        display: flex;
    }
    .project-wanneer {
        margin-bottom: 15px;
    }
}

@media(max-width:767px) {
    .project-wanneer {
        margin-bottom: 15px;
    }
}

#project-beschrijving.vraag-success,
#project-beschrijving.vraag-cont {
    min-height: 1px;
}

#project-side-date,
#project-side-location {
    min-height: 150px;
}

#thumb-container {
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
}

#thumb-scroll-up {
    height: 30px;
    position: absolute;
    background-color: white;
    z-index: 99;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
}

#thumb-scroll-down {
    height: 30px;
    position: absolute;
    background-color: white;
    z-index: 99;
    bottom: 20px;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
}

#thumb-pic {
    width: 100%;
    position: relative;
    opacity: 0.7;
    overflow: hidden;
    margin-bottom: 10px;
}

#thumb-pic img {
    height: 100%;
    width: 100%;
    border: 1px solid;
}

#thumb-pic:hover {
    opacity: 1;
}

#main-pic {
    height: 100%;
    overflow: hidden;
    padding-left: 0px;
    position: relative;
}

#main-pic img {
    height: 100%;
    width: 100%;
    border: 1px solid;
}

.fa-caret-down,
.fa-caret-up {
    color: #DA291C;
    position: relative;
    top: 50%;
    transform: scale(2)translateY(-50%);
}

#project-info-container {
    overflow: auto;
    margin: 20px 0px;
    background-color: lightgrey;
    overflow-x: hidden;
}

#project-beschrijving-container {
    background-color: lightgrey;
    padding-left: 0px;
}

@media(max-width:767px) {
    #project-beschrijving-container.mobile {
        padding: 0px;
        margin-bottom: 15px;
    }
}

#project-beschrijving {
    background-color: white;
    padding: 15px 15px 15px 15px;
    overflow: auto;
    min-height: 300px;
}

#project-side-date,
#project-side-location {
    background-color: white;
    height: auto;
    padding: 15px 15px 15px 15px;
}

#project-side-container {
    padding: 0px;
    height: inherit;
    background-color: lightgrey;
    z-index: 3;
}

#vraag-container {
    overflow: hidden;
    display: flex;
}

#project-vraag {
    display: inline-block;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#project-vraag-content {
    text-align: left;
    display: inline-block;
    min-width: 50%;
}

#previous {
    height: 155px;
    width: 50px;
    position: absolute;
    text-align: center;
    left: 0%;
    top: 27%;
    cursor: pointer;
}

#next {
    height: 155px;
    width: 50px;
    position: absolute;
    right: 0%;
    text-align: center;
    top: 27%;
    cursor: pointer;
}

#previous .fa-caret-left,
#next .fa-caret-right {
    transform: scale(4);
    position: relative;
    top: 50%;
    color: #DA291C;
    opacity: 0.7;
    cursor: pointer;
}

#previous .fa-caret-left:hover,
#next .fa-caret-right:hover {
    opacity: 1;
}

#previous .fa-caret-left:active,
#next .fa-caret-right:active {
    transform: scale(3);
}

#user-reactie {
    border: 1px solid;
    min-height: 80px;
}

#user-reactie div img {
    height: 15px;
}

.arrow {
    border-style: solid;
    position: absolute;
    border-color: black transparent transparent transparent;
    border-width: 10px 0px 8px 10px;
    top: -1px;
    left: -10px;
}

#toon-reactie {
    border: 1px solid;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
    color: #DA291C;
    cursor: pointer;
}

#toon-reactie .fa-plus {
    color: #DA291C;
}

#toon-reactie:hover {
    background-color: #DA291C;
    color: white;
}

#toon-reactie:hover .fa-plus {
    color: white;
    transform: rotate(180deg);
    transition: transform 1s;
}

#user-reactie a {
    color: #DA291C;
    float: right;
    opacity: 0.5;
    margin-left: 15px;
}

#user-reactie a:hover {
    opacity: 1;
}

#user-reactie i {
    transform: scale(1);
    color: #DA291C;
}

#user-pic {
    max-height: 100%;
    max-width: 100%;
}

#reactie-submit {
    padding-top: 5px;
    padding-right: 0px;
}

#reactie-container {
    overflow: auto;
    overflow-x: hidden;
    margin: 20px 0px;
}

.pad-left {
    padding-left: 15px;
}

#input-naam {
    padding-left: 0px;
}

#input-email {
    padding-right: 0px;
}

span.filled-stars span {
    color: #DA291C;
}

#vraag-btn-submit button {
    width: 50%;
    margin: 0px auto;
}

#vraag-btn-submit {
    margin-top: 10px;
}

#btn-sign-in,
#btn-register {
    background-color: transparent;
    border-radius: 0px;
    border-color: #DA291C;
    color: black;
}

#btn-sign-in:hover,
#btn-register:hover {
    background-color: #DA291C;
    color: white;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

.btn-default {
    border-radius: 0;
}

.fa-toggle-on,
.fa-toggle-off {
    transform: scale(1.6);
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: none;
}

.success-pop-up {
    background-color: #3498db;
    width: 120px;
    color: white;
    padding: 10px;
    position: absolute;
    left: calc(50% - 60px);
    top: -25px;
    opacity: 0;
    z-index: 999;
}

@-webkit-keyframes successfade {
    0% {
        opacity: 0;
        top: -25px;
    }
    50% {
        opacity: 1;
        top: 25px;
    }
    75% {
        opacity: 1;
        top: 25px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

@-moz-keyframes successfade {
    0% {
        opacity: 0;
        top: -25px;
    }
    50% {
        opacity: 1;
        top: 25px;
    }
    75% {
        opacity: 1;
        top: 25px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

@-ms-keyframes successfade {
    0% {
        opacity: 0;
        top: -25px;
    }
    50% {
        opacity: 1;
        top: 25px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

@-o-keyframes successfade {
    0% {
        opacity: 0;
        top: -25px;
    }
    50% {
        opacity: 1;
        top: 25px;
    }
    75% {
        opacity: 1;
        top: 25px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

@keyframes successfade {
    0% {
        opacity: 0;
        top: -25px;
    }
    50% {
        opacity: 1;
        top: 25px;
    }
    75% {
        opacity: 1;
        top: 25px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

.alle_fotos ul li {
    list-style-type: none;
}

.slide-down-fade {
    -webkit-animation: successfade 3s;
    -moz-animation: successfade 3s;
    -ms-animation: successfade 3s;
    -o-animation: successfade 3s;
    animation: successfade 3s;
}

#users-search-hint-small {
    opacity: 0.5;
    float: left;
}