body{

}
.nav_bar_margin_top{
	margin-top: -25px;
}
.margin_top_form_question{
	margin-top: 50px;
}
.invalid{
	border: red solid 1px;
}

.delete{
	color: #0078d7;
}

[contenteditable]:focus {
    border-style: dashed;
    border-color: black;
    border-width: 3px;
}